<h1></h1>

 <% if current_user %>
 

  <tr>
    <th>Dream</th>
    <th></th>
  </tr>

   <%= link_to 'New Dream', new_dream_path %>


<ul id="dreams_list">
  <% @dreams.each do |dream|  %>
    <li<% if @dreams.first == dream %> class="first"<% end %>>
      <!--%= image_tag dream.user.gravatar_url %-->
      <div class="flit_message_container">
        <!--%= link_to dream.user.email, user_dreams_path(dream.user.email) %-->
        <%= h simple_format(dream.dream) %> 
        <%= link_to image_tag("delete.gif"), dream, :confirm => 'Are you sure?', :method => :delete %>
        <div class="time_ago">
          <%= distance_of_time_in_words_to_now(dream.created_at) %> ago
        </div>
      </div>
      <div class="clear"></div>
    </li>
  <% end %>
</ul>


<% else %>
   No dreams for you until you login...
<% end  %>

<br />


